<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ProjetQCM</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>listeQcmServlet</display-name>
    <servlet-name>listeQcmServlet</servlet-name>
    <servlet-class>servlet.listeQcmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listeQcmServlet</servlet-name>
    <url-pattern>/listeQcmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>testServlet</display-name>
    <servlet-name>testServlet</servlet-name>
    <servlet-class>servlet.testServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testServlet</servlet-name>
    <url-pattern>/testServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteQcmServlet</display-name>
    <servlet-name>deleteQcmServlet</servlet-name>
    <servlet-class>servlet.deleteQcmServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteQcmServlet</servlet-name>
    <url-pattern>/deleteQcmServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>modifTestServlet</display-name>
    <servlet-name>modifTestServlet</servlet-name>
    <servlet-class>servlet.modifTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifTestServlet</servlet-name>
    <url-pattern>/modifTestServlet</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>1</session-timeout>
  </session-config>
  <servlet>
    <servlet-name>Inscription</servlet-name>
    <servlet-class>servlet.Inscription</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Connexion</servlet-name>
    <servlet-class>servlet.Connexion</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Deconnexion</servlet-name>
    <servlet-class>servlet.Deconnexion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Inscription</servlet-name>
    <url-pattern>/inscription</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Connexion</servlet-name>
    <url-pattern>/connexion</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Deconnexion</servlet-name>
    <url-pattern>/deconnexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listeQuestionServlet</display-name>
    <servlet-name>listeQuestionServlet</servlet-name>
    <servlet-class>servlet.listeQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listeQuestionServlet</servlet-name>
    <url-pattern>/listeQuestionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteQuestionServlet</display-name>
    <servlet-name>deleteQuestionServlet</servlet-name>
    <servlet-class>servlet.deleteQuestionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteQuestionServlet</servlet-name>
    <url-pattern>/deleteQuestionServlet</url-pattern>
  </servlet-mapping>
</web-app>